
@using Microsoft.AspNetCore.Authorization
@using WebSite.Models

@inject IAuthorizationService authorizationService

@{

    var resultAuthorization = await authorizationService.AuthorizeAsync(this.User, "Employee");
}

<ul class="nav nav-pills flex-grow-1 navbar-menu-top">
    <li class="nav-item @NavbarTop.HomeNavClass(ViewContext)">
        <a class="nav-link d-none d-lg-block" asp-area="" asp-controller="Home" asp-action="Index">Trang Chủ</a>
        <a class="nav-link d-lg-none " asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house-door"></i></a>
    </li>

    <li class="nav-item @NavbarTop.PersonalNavClass(ViewContext)">
        <a class="nav-link d-none d-lg-block " asp-area="" asp-controller="Home" asp-action="Personal">
            Thông Tin Cá Nhân
        </a>
    </li>

    <li class="nav-item d-lg-none @NavbarTop.PersonalNavClass(ViewContext)">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Personal"><i class="bi bi-person-video3"></i></a>
    </li>

    <li class="nav-item @NavbarTop.DocsNavClass(ViewContext)">
        <a class="nav-link d-none d-lg-block " asp-area="" asp-controller="Home" asp-action="Docs">
            Hướng Dẫn Lập Trình
        </a>
    </li>

    <li class="nav-item d-lg-none @NavbarTop.DocsNavClass(ViewContext)">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Docs"><i class="bi bi-terminal-plus"></i></a>
    </li>


    @if (resultAuthorization.Succeeded)
    {
       
        <li class="nav-item d-none d-lg-block @NavbarTop.CategoryManagerNavClass(ViewContext)">
            <a class="nav-link text" asp-area="CategoryManager" asp-controller="ParentCategory" asp-action="index"> Quản Lý Danh Mục</a>
        </li>
        <li class="nav-item d-lg-none @NavbarTop.CategoryManagerNavClass(ViewContext)">
            <a class="nav-link" asp-area="CategoryManager" asp-controller="ParentCategory" asp-action="index"><i class="bi bi-journal-bookmark"></i></a>
        </li>

    }


</ul>


